.panel {
  /* background: #c0c0c0; */
  height: 100%;
  /* border-right: 1px solid #868a8e; */
  /* box-shadow: 1px 0 0 0 #ffffff inset; */
  overflow-y: auto;
  overflow-x: hidden;
  padding: 6px;
}

.section {
  margin-bottom: 16px;
}

.divider {
  height: 1px;
  /* background: #868a8e; */
  /* border-bottom: 1px solid #ffffff; */
  margin: 8px 0;
}

.computerIcon {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  cursor: pointer;
  padding: 8px;
  border: 2px solid transparent;
}

.computerIcon:hover {
  background: rgba(0, 0, 0, 0.1);
  border: 2px dotted #000;
}

.icon {
  width: 32px;
  height: 32px;
}

.error {
  background: #ffdede;
  border: 1px solid #ff9b9b;
  color: #d00;
  padding: 8px;
  margin-top: 8px;
  font-size: 12px;
  box-shadow: inset 1px 1px #fff;
}

.fieldRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 4px 0;
}

.plans-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.plan-description {
  margin-bottom: 8px;
  font-size: 14px;
}

.plan-button {
  width: 100%;
  padding: 8px;
  background: silver;
  border: 2px solid #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  color: black;
  font-size: 14px;
  cursor: pointer;
  text-align: left;
}

.plan-button:active {
  border: 2px solid #808080;
  border-right-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
}

.plan-button:hover {
  background: #dfdfdf;
}