/* Base window styles that all windows will inherit */
.window {
  background-color: #c0c0c0;
  border: 2px solid #dfdfdf;
  border-right-color: #404040;
  border-bottom-color: #404040;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Pixelated MS Sans Serif', Arial;
  font-size: 11px;
}

.titleBar {
  background: #000080;
  padding: 3px 2px 3px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleBarText {
  color: white;
  font-weight: bold;
  margin-left: 2px;
}

.windowBody {
  padding: 8px;
}

/* Common form elements */
.formInput {
  width: 100%;
  padding: 4px;
  font-family: 'Pixelated MS Sans Serif', Arial;
  font-size: 11px;
  border: 1px solid #808080;
}

.button {
  font-family: 'Pixelated MS Sans Serif', Arial;
  font-size: 11px;
  color: black;
  background-color: #D4D0C8;
  border: 1px solid #808080;
  padding: 2px 8px;
  cursor: pointer;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

.error {
  color: red;
}

.titleBarControls {
  display: flex;
}

.titleBarControls button {
  width: 16px;
  height: 14px;
  border: 1px solid white;
  background-color: #c0c0c0;
  margin-left: 2px;
  font-size: 9px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.titleBarControls button:hover {
  background-color: #dfdfdf;
}

.titleBarControls button:active {
  border-color: #404040 #dfdfdf #dfdfdf #404040;
  background-color: #a0a0a0;
}
